In [ ]:
4) TeleCall uses 4 centers around the globe to process customer order forms. 
    They audit a certain %  of the customer order forms. Any error in order form renders it defective and 
    has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. 
    Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [ ]:
 # Null Hypothesis (Ho): Independence of categorical variables (customer order forms defective % does not varies by centre) 
 # Alternative hypothesis(Ha): Dependence of categorical variables (customer order forms defective % varies by centre)

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [3]:
# load the dataset
Center=pd.read_csv("D:\\Sandesh\\Data Science\\Homework Assignment\\Hypothesis Testing\\Costomer+OrderForm.csv")
Center

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [7]:
print("Phillippines\n",Center.Phillippines.value_counts())
print("Indonesia\n",Center.Indonesia.value_counts())
print("Malta\n",Center.Malta.value_counts())
print("India\n",Center.India.value_counts())

Phillippines
 Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Indonesia
 Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Malta
 Error Free    269
Defective      31
Name: Malta, dtype: int64
India
 Error Free    280
Defective      20
Name: India, dtype: int64

In [8]:
# Make a contingency table
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [9]:
# Chi2 contengency independence test
chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
# Compare p_value = 0.27710 with α = 0.05
#  p > 0.05 , 
#  0.227 > 0.05 -  Accept Null Hypthesis i.e. Independence of categorical variables 
# Thus,customer order forms defective % does not varies by centre.

In [ ]:
 3) Sales of products in four different regions is tabulated for males and females. 
    Find if male-female buyer rations are similar across regions.

In [ ]:
# Null Hypothesis as Ho: Independence of categorical variables (male-female buyer rations are similar across regions (does not vary and are not related) 
                                                              
# Alternate Hypothesis as Ha: Dependence of categorical variables (male-female buyer rations are NOT similar across regions (does vary and somewhat/significantly related)

In [10]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [11]:
# load the dataset
productsale=pd.read_csv("D:\\Sandesh\\Data Science\\Homework Assignment\\Hypothesis Testing\\BuyerRatio.csv")
productsale

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [12]:
# Make dimensional array
obs=np.array([[50,142,131,70],[435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [13]:
# Chi2 contengency independence test
chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
# Compare p_value with α = 0.05
#  0.660 > 0.05 - accept Null hypothesis

In [ ]:
1)  A F&B manager wants to determine whether there is any significant difference in the diameter of the 
  cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? 
    Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests 
    that you carried out to check validity of the assumptions.

In [ ]:
# Null hyposthesis as Ho: μ1 = μ2 (There is no difference in diameters of cutlets between two units).

# Alternate hypothesis as Ha: μ1 ≠ μ2 (There is significant difference in diameters of cutlets between two units)

In [14]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [15]:
Cutlets=pd.read_csv("D:\\Sandesh\\Data Science\\Homework Assignment\\Hypothesis Testing\\Cutlets.csv")
Cutlets

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [19]:
UnitA=pd.Series(Cutlets.iloc[:,0])
UnitB=pd.Series(Cutlets.iloc[:,1])
stats.ttest_ind(UnitA,UnitB)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [ ]:
# Compare p_value with α = 0.05
#  0.472 > 0.05 - accept Null hypothesis

In [ ]:
2) A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports 
 of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. 
  TAT is defined as sample collected to report dispatch.
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories 
   at 5% significance level.

In [ ]:
#  Null Hypothesis Ho as No Varaince: All samples TAT population means are same.
#  Alternate Hypothesis Ha as It has Variance: Atleast one sample TAT population mean is different

In [20]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [22]:
TAT=pd.read_csv("D:\\Sandesh\\Data Science\\Homework Assignment\\Hypothesis Testing\\LabTAT.csv")
TAT

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [24]:
import scipy.stats as stats
stats.f_oneway(TAT.iloc[:,0],TAT.iloc[:,1],TAT.iloc[:,2],TAT.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
# Compare p_value with α = 0.05
#  2.115 > 0.05 - accept Null hypothesis